@font-face {
  font-family: 'Exo2.0';
  src: url('./fonts/Exo2.0-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-content: #000000;
  --color-content-light: #666666;
  --color-content-white: #ffffff;
  --color-content-disabled: #b3b3b3;
  --color-accent-blue: #1698d9;
  --color-accent-blue-hover: #2ea8e6;
  --color-accent-pink: #d91667;
  --color-accent-pink-hover: #e52e7a;
  --color-accent-yellow: #ffff66;

  font-family: 'Exo2.0', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

p,
h2 {
  margin: 0;
}
